<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lab13</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <span class="logo">Backend3</span>
        <nav>
            <a class="home" href="/">Home</a>
            <a class="home" href="/">Mockups</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <hr></hr>
    <footer>2024 - Backend3</footer>
</body>
</html>
