@{
    ViewData["Title"] = "Home Page - Backend3";
}

<div class="text">
    <h1 class="display">Mockups</h1>
    <ul class="pages">
        <li>@Html.ActionLink("Quiz", "Quiz")</li>
        <li>@Html.ActionLink("Quiz Result", "QuizResult")</li>
    </ul>
</div>
